$fontStack:    Helvetica, sans-serif;
$primaryColor: #333;
body {
  font-family: $fontStack;
  color: $primaryColor;
  font-family: Arial; 
  border: 2px solid #379082; 
  border-radius: 20px; 
  padding: 30px 30px; 
  width: 330px; 
  background: linear-gradient(to bottom, #DADADA, #000);
}

p a {
  display:flex;
  -webkit-border-radius: 5px;
  border-radius: 5px
}